.quarter {
	width: 23%;
	padding: 1%;
}

.fifty {
	width: 48%;
	padding: 1%;
}

.fifty-quarter {
	width: 73%;
	padding: 1%;
}

.thirty-three {
	width: 31%;
	margin: 1%;
}

.hundred {
	width: 98%;
	padding: 1%;
	clear: both;
}

.item-center {
	display: block;
	margin: 0 auto;
}

.sp-quarter {
	margin-left: 25%;
}

// IMAGES
